<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    {% include 'navbar.html' %}
    
    <div class="container" style="text-align: center;">
        <h1>The Services that we provide page</h1>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card h-100">
                <img src="https://plus.unsplash.com/premium_photo-1674461536809-67c9ffbb6523?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjN8fHVybHxlbnwwfHwwfHx8MA%3D%3D" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Video Editing</h5>
                  <p class="card-text">
                     Video editing is the process of manipulating and rearranging video footage, audio, and other elements to create a cohesive and polished final product. 
                     It involves various tasks such as cutting and trimming video clips, adding transitions, applying visual effects, adjusting color and brightness, synchronizing audio tracks, and incorporating text overlays or graphic          
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="https://plus.unsplash.com/premium_photo-1664197368315-6e8f91db9215?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzF8fHVybHxlbnwwfHwwfHx8MA%3D%3D" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Trading Expert</h5>
                  <p class="card-text">
                     A trading expert is someone who possesses extensive knowledge and experience in financial markets and trading strategies. These individuals often have a deep understanding of various asset classes such as stocks, bonds, commodities, and currencies. They analyze market trends, economic indicators, and other factors to make informed decisions about buying and selling financial instruments with the aim of generating profits. Trading experts may work independently as professional traders or within financial institutions such as investment banks, hedge funds, or asset management firms.
                     They typically utilize technical analysis, fundamental analysis, and sometimes quantitative models to identify trading opportunities and manage risk effectively.Video editing is used in various contexts including filmmaking, television production, advertising, social media content creation, and personal video projects. Skilled video editors are able to enhance the visual appeal, storytelling, and overall impact of videos by creatively manipulating the raw footage to convey a desired message or narrative.
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="https://images.unsplash.com/photo-1460925895917-afdab827c52f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8d2Vic2l0ZXxlbnwwfHwwfHx8MA%3D%3D" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Data Analytic</h5>
                  <p class="card-text">
                     Data analytics is the process of examining large sets of data to uncover patterns, correlations, trends, and other meaningful insights that can be used to make informed decisions or predictions.
                     It involves various techniques and tools to extract, clean, transform, and analyze data from different sources such as databases, spreadsheets, sensors, social media, and more.
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="https://plus.unsplash.com/premium_photo-1679079456083-9f288e224e96?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8d2Vic2l0ZXxlbnwwfHwwfHx8MA%3D%3D" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Memic Editor</h5>
                  <p class="card-text">
                    Memic Editor means when person try to speak in another person voice tough. It's speak just similar to other's one but third person can't understand who's person are actually speak.
                    In Modern era some of tools are available in market that can do it using that tools in meme video as an every indivible known them now. 

                  </p>
                </div>
              </div>
            </div>
            <div class="col">
                <div class="card h-100">
                  <img src="https://images.unsplash.com/file-1695862017053-979d119af2a6image?dpr=2&w=416&auto=format&fit=crop&q=60" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Yoga Guider</h5>
                    <p class="card-text">
                        Yoga is a vast collection of spiritual techniques and practices aimed at integrating mind, body, and spirit to achieve a state of enlightenment or oneness with the universe. What is normally thought of as “yoga” in the West is really Hatha Yoga, one of the many paths of yoga. 
                        The different paths of yoga emphasize different approaches and techniques but ultimately lead to the same goal of unification and enlightenment.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="https://images.unsplash.com/photo-1501959181532-7d2a3c064642?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8cG9ydGZvbGlvJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Create Portfolio</h5>
                    <p class="card-text">
                     Create Portfolio is used for porfessional or bachelor individual that are display own properities or skills through this portfolio which make easier to select profile by recruiter,human resource and talent acquisition in any organization. 
                     
                    </p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="https://plus.unsplash.com/premium_photo-1679496830187-5b7a3def833e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bmV3c3xlbnwwfHwwfHx8MA%3D%3D" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Nation News</h5>
                    <p class="card-text">
                        On the consecration of the Ram Mandir in Ayodhya on January 22, Mr. Modi said, “The occasion of pran pratishtha in Ayodhya seems to have bound crores of people of the country together with a common thread.”
                        ‘Proud of women power’
                       “The most discussed element was seeing women power in the parade… When the women contingents of Central Security Forces and Delhi Police started marching on Kartavya Path, everyone was filled with pride,” the PM said. “On seeing the marching of the women’s band and seeing their tremendous coordination, people in the country and abroad were thrilled. This time, out of the 20 contingents that marched in the parade, 11 were of women,” he added. 
                       He also noted that 13 women athletes have been honoured with the Arjuna Award this time.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="https://images.unsplash.com/photo-1504805572947-34fad45aed93?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzJ8fGJsb2d8ZW58MHx8MHx8fDA%3D" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Blogging</h5>
                    <p class="card-text">
                        Blogging refers to writing, photography, and other media that's self-published online. Blogging started as an opportunity for individuals to write diary-style entries, but it has since been incorporated into websites for many businesses.
                        The hallmarks of blogging include frequent updates, informal language, and opportunities for readers to engage and start a conversation.
                    </p>
                  </div>
                </div>
              </div>
          </div>
</body>
</html>